body.overlay-chat-dragging {
    cursor: grabbing;
}

body.overlay-chat-resizing {
    cursor: se-resize;
}

body.overlay-chat ytd-watch-flexy[flexy][js-panel-height_] #full-bleed-container #chat.ytd-watch-flexy {
    /* default values */
    --overlay-chat-left: 24px;
    --overlay-chat-top: 0px;
    --overlay-chat-height: 100%;
    --overlay-chat-width: calc(25vw - 24px);

    border: 0;
    /* remove normal chat's border */
    position: absolute;
    /* free-floating relative to the viewport */
    /* initial dimensions */
    left: var(--overlay-chat-left);
    top: var(--overlay-chat-top);
    margin: 0;
    height: var(--overlay-chat-height);
    width: var(--overlay-chat-width);
    min-height: 0px;
    max-height: 100vh;
    min-width: 298px;
    max-width: calc(100vw - 24px);
    border-radius: 0;
}

.overlay-chat ytd-live-chat-frame[darker-dark-theme] #show-hide-button.ytd-live-chat-frame {
    /* hide the show / hide chat button in overlay chat */
    opacity: 0;

    button {
        background-color: transparent;
    }

    #chat:hover & {
        /* show the button when chat is hovered over */
        opacity: 1;
    }
}

div.drag-button {
    opacity: 0;
    /* drag buttons should be hidden normally */
    position: absolute;
    height: 12px;
    width: 12px;
    background: url(assets/move.svg) center / contain,
        url(chrome-extension://__MSG_@@extension_id__/assets/move.svg) center / contain;
    cursor: grab;

    .overlay-chat-dragging & {
        cursor: grabbing;
    }

    .overlay-chat #chat:hover & {
        /* show drag buttons when chat is hovered over in overlay mode */
        opacity: 1;
    }
}

div.resize-handle {
    opacity: 0;
    /* drag buttons should be hidden normally */
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 0;
    right: 0;
    background: url(assets/resize.svg) center / contain,
        url(chrome-extension://__MSG_@@extension_id__/assets/resize.svg) center / contain;
    cursor: se-resize;

    .overlay-chat #chat:hover & {
        /* show resize handle when chat is hovered over in overlay mode */
        opacity: 1;
    }
}

.overlay-chat div.drag-mask {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10000;

    .overlay-chat-dragging &,
    .overlay-chat-resizing & {
        display: block;
    }
}