:root {
    /* default values */
    --overlay-chat-left: 24px;
    --overlay-chat-top: 0px;
    --overlay-chat-height: 100%;
    --overlay-chat-width: calc(25vw - 24px);

    --overlay-chat-left-constrained: max(min(var(--overlay-chat-left), calc(100vw - 298px)), 24px);
    --overlay-chat-height-constrained: min(var(--overlay-chat-height), calc(100% - var(--overlay-chat-top)));
    --overlay-chat-width-constrained: max(var(--overlay-chat-width), 298px);
}

body.overlay-chat-dragging {
    cursor: grabbing;
}

body.overlay-chat-resizing {
    cursor: se-resize;
}

body.overlay-chat ytd-watch-flexy[flexy][js-panel-height_] #full-bleed-container #chat.ytd-watch-flexy {
    border: 0;
    /* remove normal chat's border */
    position: absolute;
    /* free-floating relative to the viewport */
    /* initial dimensions */
    left: var(--overlay-chat-left-constrained);
    top: var(--overlay-chat-top);
    margin: 0;
    height: var(--overlay-chat-height-constrained);
    width: var(--overlay-chat-width-constrained);
    min-height: 0px;
    max-height: calc(100% - var(--overlay-chat-top));
    min-width: 298px;
    max-width: calc(100vw - var(--overlay-chat-left));
    border-radius: 0;
    /* transition for moving chat when the seek bar is hovered over */
    transition: top 0.1s;

    /* no transition when dragging or resizing */
    :is(.overlay-chat-dragging, .overlay-chat-resizing) & {
        transition: none;
    }
}

.overlay-chat ytd-live-chat-frame[darker-dark-theme] #show-hide-button.ytd-live-chat-frame {
    /* hide the show / hide chat button in overlay chat */
    opacity: 0;

    button {
        background-color: transparent;
    }

    #chat:hover & {
        /* show the button when chat is hovered over */
        opacity: 1;
    }
}

div.drag-button {
    opacity: 0;
    /* drag buttons should be hidden normally */
    position: absolute;
    height: 12px;
    width: 12px;
    background: url(assets/move.svg) center / contain,
        url(chrome-extension://__MSG_@@extension_id__/assets/move.svg) center / contain;
    cursor: grab;

    .overlay-chat-dragging & {
        cursor: grabbing;
    }

    .overlay-chat #chat:hover & {
        /* show drag buttons when chat is hovered over in overlay mode */
        opacity: 1;
    }
}

div.resize-handle {
    opacity: 0;
    /* drag buttons should be hidden normally */
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 0;
    right: 0;
    background: url(assets/resize.svg) center / contain,
        url(chrome-extension://__MSG_@@extension_id__/assets/resize.svg) center / contain;
    cursor: se-resize;

    .overlay-chat #chat:hover & {
        /* show resize handle when chat is hovered over in overlay mode */
        opacity: 1;
    }
}

.overlay-chat div.drag-mask {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10000;

    .overlay-chat-dragging &,
    .overlay-chat-resizing & {
        display: block;
    }
}

/* bottom chrome chat overlay evasion mode */
.overlay-chat:is(.bottom-chrome-left, .bottom-chrome-right) {

    .ytp-chrome-controls,
    .ytp-progress-bar-container {
        position: absolute;
        width: auto;
        left: 0;
        right: 0;
        transition: left 0.1s, right 0.1s;

        .ytp-chapter-hover-container {
            width: 100% !important;
        }

        .bottom-chrome-left & {
            right: calc(100vw - var(--overlay-chat-left-constrained) - 24px);
        }

        .bottom-chrome-right & {
            left: calc(var(--overlay-chat-left-constrained) + var(--overlay-chat-width-constrained) - 24px);
        }
    }

    /* when a seekable seek bar is hovered over */
    .ytp-chrome-bottom:has(.ytp-progress-bar-container:not([aria-disabled="true"]):hover) {
        /* arrange the bottom chrome in front of chat; chat's z-index is 601 */
        z-index: 700;

        .ytp-progress-bar-container {
            /* the seek bar returns to full length */
            left: 0;
            right: 0;
        }

        /* chat moves up above the seek bar */
        ytd-watch-flexy[flexy][js-panel-height_] #full-bleed-container &~#chat.ytd-watch-flexy {
            top: calc(100% - 60px - var(--overlay-chat-height-constrained));
        }
    }
}